 .searchbox
                {    
                    }
                   .header{
                    height: 55px;
                    display: flex;
                    justify-content: space-between;
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    background-color: white;
                    border-bottom-color: rgb(237, 237, 237);
                    border-bottom-style: solid;
                    z-index: 100;
                   }
                   .left-section{
                    
                    display: flex;
                    align-items: center;s

                   }

                   .menu-icon{
                    height: 24px;
                    width: 24px;
                    margin-left: 12px;
                    margin-right: 20px;
                   }
                   .logo{
                    height: 24px;
                    
                   }
                   .right-section{
                    width: 180px;
                    display: flex;
                    
                    justify-content: space-between;
                    align-items: center;
                    flex-shrink: 0;



                   }
                   .upld-icon{
                    height: 24px;
                     

                   }
                   .you-apps{
                    height: 24px;
                    

                   }
                   .noti-icon{
                    height: 24px;


                   }
                   .user-pic{
                    height: 32px;
                    border-radius: 16px;
                    

                   }
                   .noti-icon-container{
                    position: relative;
                    
                   }
                   .noti-num{
                    position: absolute;
                    top: -6px;
                    right: -4px;
                    font-size: 12px;
                    background-color: red;
                    height: 17px;
                    width: 14px;
                    border-radius: 13px;
                    color: white;
                    padding-left: 6px;
                    padding-top: 3px;
                   
                   }



                .center-section{
                    
                    flex: 1;
                    margin-left: 70px;
                    margin-right: 35px;
                    max-width: 500px;
                    display: flex;
                    align-items: center;


                }
                .searchbox{
                    flex: 1;
                    height: 37px;
                    font-size: 16px;
                    border-color: rgb(192, 192, 192);ss
                    box-shadow: inset 1px 2px 3px rgba(0, 0, 0.05);
                    border-width: 1px;
                    border-style: solid;
                    width: 0;
                    border-radius:4px;
                }
                .search-button{
                    height: 40px;
                    background-color: rgba(242, 243, 242);
                    margin-left: -2px;
                    margin-right: 12px;
                    border-color: rgb(192, 192, 192);
                    border-width: 1px;
                    border-style: solid;
                }
                .voice-button{
                    height: 40px;
                    width: 40px;
                    background-color: rgb(242, 243, 242);
                    border-radius: 20px;
                    border: none;
                }
                .searchicon{
                    height: 22px ;
                }
                .voiceicon{
                    height: 22px ; 
                }